{% extends 'base.html' %}

{% block title %}Debugger Database - Homepage{% endblock %}

{% block content %}
<div class="container">
    <h1>Debugger Database</h1>
    <table class="striped">
        <thead class="teal lighten-1">
            <th>Rule</th>
            <th>Age Range</th>
            <th>Difficulty</th>
        </thead>
        {% for rule in rules %}
        <tr>
            <td>{{rule['rule']}}</td>
            <td>{{rule['agerange']}}</td>
            <td>{{rule['difficulty_average']|round(1)}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}